<%= render :partial => "navbar" %>

<div class="container">
  <div class="mb-4">
    <h1><%= @restaurant.name %></h1>
    <p>Address: <%= @restaurant.address %></p>
    <p>Phone number: <%= @restaurant.phone_number %></p>
    <p>Category: <%= @restaurant.category.capitalize %></p>
  </div>

  <div class="mb-4">
    <h3>Leave a review:</h3>
    <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :rating, min_max: true %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="mb-4">
    <h3>Reviews</h3>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item d-flex align-items-center"><%= review.content %> (Rating: <%= review.rating %>/5)</li>
      <% end %>
    </ul>
  </div>
</div>
